body {
    font-family: Arial, sans-serif;
    background: url('images1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.in-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: inline-block;
    margin-bottom: 30px;
}

.in-form input, .in-form textarea{
    display: flex;

    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.in-form button {
    background: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.in-form button:hover {
    background: #218838;
}

.lists {
    display: flex;
    justify-content: space-around;
}

.section {
    width: 45%;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table thead tr {
    background: #f8f9fa;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background: #f2f2f2;
}

table tbody tr td button {
    background: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table tbody tr td button:hover {
    background: #c82333;
}

